/*
* 代码块主题：atom-one-dark
* 来自 highlight.js/styles/atom-one-dark.css
*/
.theme__dark
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

.theme__dark
code.hljs {
  padding: 3px 5px
}

.theme__dark
.hljs {
  color: #abb2bf;
  background: #282c34
}

.theme__dark
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic
}

.theme__dark
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd
}

.theme__dark
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75
}

.theme__dark
.hljs-literal {
  color: #56b6c2
}

.theme__dark
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #98c379
}

.theme__dark
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66
}

.theme__dark
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee
}

.theme__dark
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #e6c07b
}

.theme__dark
.hljs-emphasis {
  font-style: italic
}

.theme__dark
.hljs-strong {
  font-weight: 700
}

.theme__dark
.hljs-link {
  text-decoration: underline
}

/*
* 代码块主题：atom-one-light
* 来自 highlight.js/styles/atom-one-light.css
*/
.theme__light
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

.theme__light
code.hljs {
  padding: 3px 5px
}

.theme__light
.hljs {
  color: #383a42;
  background: #fafafa
}

.theme__light
.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic
}

.theme__light
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #a626a4
}

.theme__light
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e45649
}

.theme__light
.hljs-literal {
  color: #0184bb
}

.theme__light
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #50a14f
}

.theme__light
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #986801
}

.theme__light
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #4078f2
}

.theme__light
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #c18401
}

.theme__light
.hljs-emphasis {
  font-style: italic
}

.theme__light
.hljs-strong {
  font-weight: 700
}

.theme__light
.hljs-link {
  text-decoration: underline
}

